<p-toast></p-toast>
<div class="flex h-screen items-center justify-center bg-gray-100">
    <div
        class="h-[550px] w-full max-w-md items-center justify-center rounded bg-gray-100 p-10 shadow-xl">
        <div class="mb-8 flex justify-center">
            <img
                src="../../../../assets/images/image.png"
                alt="Logo"
                class="h-10 w-auto" />
        </div>

        <div class="mb-6 pt-10 text-left">
            <h2
                class="text-lg font-bold tracking-wide text-gray-800 md:text-xl">
                Forget Password
            </h2>

            <p class="mt-5 text-xs text-gray-500 md:text-sm">
                Enter your mobile number for verification. We’ll send you a
                4-digit verification code.
            </p>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-5">
            <div>
                <div class="pb-3 text-xs text-gray-500 md:text-sm">
                    <label for="">Phone Number</label>
                </div>
                <p-inputMask
                    id="phone"
                    mask="99999999999"
                    placeholder="Enter 11-digit phone number"
                    formControlName="phone"
                    (input)="onPhoneInput($event)"
                    class="w-full items-center">
                </p-inputMask>
            </div>

            <button
                pButton
                type="submit"
                class="w-full rounded-md bg-blue-400 py-2 font-bold text-white transition hover:bg-blue-500">
                Send OTP
            </button>
        </form>
    </div>
</div>
