<p-toast></p-toast>

<div class="flex h-screen items-center justify-center bg-gray-100">
    <div class="h-[550px] w-full max-w-md rounded bg-white p-10 shadow-xl">
        <div class="mb-8 flex justify-center">
            <a [href]="baseUrl">
                <img
                    src="../../../../assets/images/image.png"
                    alt="Logo"
                    class="h-10 w-auto" />
            </a>
        </div>

        <div class="mb-6 pt-10 text-left">
            <h2 class="text-lg font-bold text-gray-800 md:text-xl">
                Forget Password
            </h2>
            <p class="mt-4 text-xs text-gray-500 md:text-sm">
                Enter your email or phone number. We’ll send you a 4-digit OTP.
            </p>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6">
            <div>
                <p-floatLabel class="w-full" variant="on">
                    <input
                        pInputText
                        id="identifier"
                        type="text"
                        formControlName="identifier"
                        class="w-full" />
                    <label for="identifier"> Email or Phone Number </label>
                </p-floatLabel>

                @if (submitted && f['identifier'].errors?.['required']) {
                    <p class="mt-1 text-sm text-red-500">
                        Email or phone number is required
                    </p>
                }

                @if (submitted && f['identifier'].errors?.['invalidFormat']) {
                    <p class="mt-1 text-sm text-red-500">
                        Enter a valid email or 11-digit phone number
                    </p>
                }
            </div>

            <button
                pButton
                type="submit"
                label="Send OTP"
                class="w-full rounded-md bg-blue-400 py-2 text-sm font-medium text-white transition-all duration-200 hover:bg-blue-600 active:scale-[0.98]"></button>
        </form>
    </div>
</div>
