
<p-toast></p-toast>

<div class="flex justify-center items-center min-h-screen bg-gray-100 px-4">
  <div class="bg-white shadow-xl rounded-2xl p-8 w-full max-w-md">

    <h2 class="text-left text-2xl font-bold mb-6 text-gray-800">Reset Password</h2>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="space-y-4">


      <div class="relative">
        <input [type]="showPassword ? 'text' : 'password'" formControlName="newPassword" placeholder="New Password"
               class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400" />
        <span class="absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer" (click)="togglePassword()">
          {{ showPassword ? '🙈' : '👁️' }}
        </span>
        @if(newPasswordControl?.touched && newPasswordControl?.invalid) {
          <div class="text-red-500 text-sm mt-1">
            @if(newPasswordControl?.errors?.['required']) { <div>Password is required</div> }
            @if(newPasswordControl?.errors?.['minlength']) { <div>Password must be at least 8 characters</div> }
          </div>
        }
      </div>

      <div class="relative">
        <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" placeholder="Confirm Password"
               class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400" />
        <span class="absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer" (click)="toggleConfirmPassword()">
          {{ showConfirmPassword ? '🙈' : '👁️' }}
        </span>
        @if(confirmPasswordControl?.touched && confirmPasswordControl?.invalid) {
          <div class="text-red-500 text-sm mt-1">
            @if(confirmPasswordControl?.errors?.['required']) { <div>Confirm Password is required</div> }
            @if(confirmPasswordControl?.errors?.['mismatch']) { <div>Passwords do not match</div> }
          </div>
        }
      </div>


      <button type="submit"
              class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 rounded-lg font-medium transition duration-200">
        Reset Password
      </button>

    </form>

  </div>
</div>
