<p-toast></p-toast>

<div class="flex justify-center items-center min-h-screen bg-gray-100 px-4">
  <div class="bg-white shadow-xl rounded-2xl p-8 w-full max-w-md">
    <div class="flex justify-center mb-6">
      <img src="../../../../assets/images/image.png" alt="Dapplesoft" class="h-12" />
    </div>

    <h2 class="text-left text-2xl font-bold mb-6 text-gray-800">OTP Send Phone Number</h2>

    <form class="space-y-4" [formGroup]="form" (ngSubmit)="onSubmit()">


      <div>
        <div class="relative">
          <input
            type="tel"
            placeholder="Enter Phone Number (11 digits)"
            formControlName="phone"
            maxlength="11"
            (input)="onPhoneInput($event)"
            class="w-full border border-gray-300 rounded-lg px-4 py-2 pr-10 focus:outline-none focus:ring-2 focus:ring-blue-400" />
        </div>

   
        @if(phoneControl?.touched && phoneControl?.invalid) {
          <div class="text-red-500 text-sm mt-1">
            @if(phoneControl?.errors?.['required']) {
              <div>Phone number is required.</div>
            }
            @if(phoneControl?.errors?.['minlength'] || phoneControl?.errors?.['maxlength']) {
              <div>Phone must be 11 digits.</div>
            }
            @if(phoneControl?.errors?.['pattern']) {
              <div>Phone must contain only digits (0-9).</div>
            }
          </div>
        }
      </div>


      <div class="flex justify-between items-center text-sm">
        <label class="flex items-center space-x-2">
          <input type="checkbox" formControlName="rememberMe" class="accent-blue-500" />
          <span>Remember me</span>
        </label>
      </div>

  
      <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-lg font-medium">
        Send OTP
      </button>

    </form>
  </div>
</div>

