<p-toast></p-toast>
<div
    class="flex min-h-screen items-center justify-center bg-gray-100 px-6 py-8">
    <div class="w-full max-w-md rounded bg-white p-10 shadow-xl">
        <div class="mb-8 flex justify-center">
            <img
                src="../../../../assets/images/image.png"
                alt="Logo"
                class="h-10 w-auto" />
        </div>

        <h2
            class="mb-4 text-left text-xl font-extrabold text-gray-900 md:text-xl">
            Sign in
        </h2>
        <form (ngSubmit)="onLogin()" class="flex flex-col gap-5">
            <div class="flex flex-col">
                <input
                    pInputText
                    id="emailOrPhone"
                    [(ngModel)]="loginData.emailOrPhone"
                    name="emailOrPhone"
                    placeholder="Enter your email or phone"
                    required
                    class="w-full rounded border border-gray-300 px-4 py-2" />
            </div>

            <div class="flex flex-col">
                <label for="password" class="mb-1 font-medium text-gray-700">
                    Password
                </label>
                <p-password
                    [(ngModel)]="loginData.password"
                    inputId="password"
                    name="password"
                    [toggleMask]="true"
                    [feedback]="false"
                    placeholder="Enter your password"
                    class="w-full"
                    inputStyleClass="w-full px-4 py-2 border border-gray-300 rounded">
                </p-password>

                @if (passwordError) {
                    <p class="text-red-500">{{ passwordError }}</p>
                }
            </div>

            <div class="mt-2 flex items-center justify-between">
                <label
                    class="flex cursor-pointer items-center gap-2 select-none">
                    <input
                        type="checkbox"
                        [(ngModel)]="loginData.remember"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" />
                    <span class="text-sm text-gray-700">Remember Me</span>
                </label>

                <a
                    [routerLink]="['/verified']"
                    class="text-sm font-semibold text-blue-500 hover:underline">
                    Forgot Password?
                </a>
            </div>

            <button
                pButton
                type="submit"
                label="Login"
                class="w-full rounded-md bg-blue-500 py-2 font-bold text-white transition hover:bg-blue-400"></button>
        </form>
        <div class="my-6 flex items-center">
            <hr class="flex-1 border-gray-300" />
            <span class="px-3 text-sm text-gray-400">OR</span>
            <hr class="flex-1 border-gray-300" />
        </div>

        <div class="mt-4 flex justify-center gap-6">
            <div
                class="flex h-12 w-12 cursor-pointer items-center justify-center rounded-full transition-all duration-200 hover:bg-gray-100">
                <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg"
                    class="h-6 w-6" />
            </div>

            <div
                class="flex h-12 w-12 cursor-pointer items-center justify-center rounded-full transition-all duration-200 hover:bg-gray-100">
                <img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/facebook/facebook-original.svg"
                    class="h-6 w-6" />
            </div>

            <div
                class="flex h-12 w-12 cursor-pointer items-center justify-center rounded-full transition-all duration-200 hover:bg-gray-100">
                <img
                    src="./../../../../assets/images/Microsoft.webp"
                    class="h-6 w-6" />
            </div>
        </div>

        <p class="mt-8 text-center text-sm text-gray-500">
            Don’t have an account?
            <a
                routerLink="/signup"
                class="font-semibold text-blue-500 hover:underline"
                >Create Account</a
            >
        </p>
    </div>

</div>
