<p-toast></p-toast>
<div class="flex h-screen items-center justify-center bg-gray-100">
    <div class="h-[550px] w-full max-w-md rounded bg-white p-10 shadow-xl">
        <div class="mb-8 flex justify-center">
            <a [href]="baseUrl">
                <img
                src="../../../../assets/images/image.png"
                alt="Logo"
                class="h-10 w-auto" />
            </a>
        </div>

        <h2
            class="mb-4 text-left text-xl font-extrabold text-gray-900 md:text-xl">
            Log in
        </h2>

        <form
            [formGroup]="loginFormService.form"
            (ngSubmit)="onSubmit()"
            class="space-y-4">

            <div>
                <p-floatLabel class="w-full" variant="on">
                    <input
                        pInputText
                        type="email"
                        id="email"
                        formControlName="email"
                        class="w-full" />
                    <label for="email">Enter your email or phone</label>
                </p-floatLabel>

                @if (
                    loginFormService.form.get('email')?.touched &&
                    loginFormService.form.get('email')?.hasError('pattern')
                ) {
                    <p class="mt-1 text-sm text-red-500">Invalid Email</p>
                }
            </div>

            <p-floatLabel class="w-full" variant="on">
                <p-password
                    id="password"
                    formControlName="password"
                    [toggleMask]="true"
                    [feedback]="false"
                    inputStyleClass="w-full"
                    class="w-full">
                </p-password>
                <label for="password">Enter your password</label>
            </p-floatLabel>

            <div class="mt-2 flex items-center justify-between">
                <label
                    class="flex cursor-pointer items-center gap-2 select-none">
                    <input
                        type="checkbox"
                        formControlName="rememberMe"
                        class="accent-blue-500" />
                    <span>Remember me</span>
                </label>
                <a
                    routerLink="/verified"
                    class="font-semibold text-blue-500 hover:underline"
                    >Forgot password?</a
                >
            </div>
            @if (!loading) {
                <button
                    type="submit"
                    class="w-full rounded-md bg-blue-400 py-2 font-bold text-white transition hover:bg-blue-500">
                    Log in
                </button>
            }
            @else {
                <div class="flex h-full items-center justify-center">
                    <p-progressSpinner class="h-10 w-10"></p-progressSpinner>
                </div>
            }
        </form>

            <p class="mt-8 text-center text-sm text-gray-500">
                Don’t have an account?
                <a
                    routerLink="/signup"
                    class="font-semibold text-blue-500 hover:underline"
                    >Create Account</a
                >
            </p>
        </div>
</div>
