<!-- src/app/pages/dashboard/page-smtp-config/page-smtp-config.component.html -->
<div class="container mx-auto px-4 py-8">
    <!-- Header Section -->
    <div class="mb-8">
        <div
            class="mt-8 mb-6 flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-between">
            <div>
                <h1 class="text-3xl font-bold text-gray-900">
                    SMTP Configurations
                </h1>
            </div>
        </div>

        <!-- Main Content - Table Component -->
        <app-smtp-config-table />
    </div>
</div>
